<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>new user</title>
    </head>
    <body>
        <h3>Name : <%= user.name %></h3>
        <h4>Dojo : <%= user.dojo %></h4>
        <h4>Favorite Language : <%= user.fav_lang %></h4>
        <h4>Comment:</h4>
        <p><%= user.comment %></p>
    </body>
</html>
